version: "3.9"
services:
  webserver:
    image: webserver:latest
    container_name: webserver.webscythe
    build:
      dockerfile: docker/webserver/Dockerfile
      context: .
    ports:
      - "5000:80"
    volumes:
      - "./public:/var/www/html/public"
    # command: [nginx-debug, '-g', 'daemon off;']
  php:
    image: php_server:1
    container_name: php.webscythe
    build:
      dockerfile: docker/php/Dockerfile
      context: .
    volumes:
      - ".:/var/www/html"
      - "server_logs:/var/www/data/logs"
      - "server_cache:/var/www/data/cache"
      - "./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
      - /var/www/html/vendor
    environment:
      APP_LOG_DIR: /var/www/data/log
      APP_CACHE_DIR: /var/www/data/cache
volumes:
  server_cache:
  server_logs:
